" Show a few lines of context around the cursor. Note that this makes the
"" -- Suggested options --
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

"set sneak

set relativenumber
set number

let mapleader=" "

"A more convenient copy-paste to the system clipboard.
"Used to map to another buffer, but I seem not to always use this instead.
vmap <leader>c "*y
vmap <leader>y "*y
vmap <leader>v "*p
nmap <leader>p "*p
vmap <leader>P "*P
vmap <leader>d "*d

nmap <leader>c "*yy
nmap <leader>y "*yy
nmap <leader>v "*p
nmap <leader>p "*p
nmap <leader>P "*P
nmap <leader>d "*dd

"Makes a map from Alt+<key> (and Command+<key> on Mac)
"args is a dictionary:
"   'mode' is the map function prefix. Can be 'n', 'v', 'vnoremap', etc.
"   'modifiedKey' is the key that will be modified by alt
"   'action' is the action it's going to be mapped to
"mode can be omitted to mean just 'map' (all modes)
function! AltMac(args)
    let mode = get(a:args, 'mode', '')
    let modeFuncName = mode . 'map'

    if !has_key(a:args, 'modifiedKey')
        echoerr "AltMac: 'modifiedKey' is required"
        return
    endif
    let fromKey = a:args['modifiedKey']
    if len(fromKey) != 1
        echoerr "AltMac: 'modifiedKey' must be a single character"
        return
    endif

    if !has_key(a:args, 'action')
        echoerr "AltMac: 'action' is required"
        return
    endif
    let toAction = a:args['action']
    if len(toAction) == 0
        echoerr "AltMac: 'action' must be a non-empty string"
        return
    endif

    for altKeyLetter in ['M', 'D']
        let from = '<' . altKeyLetter . '-' . fromKey . '>'
        execute modeFuncName . ' ' . from . ' ' . toAction
    endfor
endfunction

"Move lines up or down in the usual Alt+j/k way
:call AltMac({ 'modifiedKey': 'j', 'action': '<Action>(MoveLineDown)' })
:call AltMac({ 'modifiedKey': 'k', 'action': '<Action>(MoveLineUp)' })

"Keep the selection after indenting or dedenting
vnoremap > >gv
vnoremap < <gv
vnoremap = =gv

"Go to definition things
nmap gi <Action>(GotoImplementation)
nmap gt <Action>(GotoTypeDeclaration)
nmap gm <Action>(GotoSuperMethod)
nmap ge <Action>(ReSharperGotoNextErrorInSolution)
nmap gE <Action>(ReSharperGotoPrevErrorInSolution)
nmap gu <Action>(FindUsages)

"Select everything
nmap <leader>a ggVG

"Search selection, you can then replace with "cgn"
vmap <leader>gs y/<C-r>"<CR>Ncgn

"I never use w for navigation.
"nmap w :w<CR>

nmap ww <Action>(EditorToggleUseSoftWraps)
nmap wq <Action>(CloseAllEditorsButActive)
nmap wQ <Action>(CloseAllEditors)
nmap wu <Action>(ActivateUnitTestsToolWindow)
nmap we <Action>(ActivateProjectToolWindow)
nmap wf <Action>(ActivateFindToolWindow)
nmap wg <Action>(CheckinProject)
nmap wd <Action>(ShowBlankDiffWindow)
nmap wt <Action>(JumpToLastWindow)
nmap wp <Action>(WelcomeScreen.Plugins)
"Ctrl+8 toggles the latest tool window, mapped via the IDE.

nmap <leader>ref <Action>(ReformatCode)

"Broken in one way or another, so screw this one.
"map <leader>, f,r<CR>

"Used to be /, but it's way too hard to hit quickly.
"I'll try s now.
map <leader>sf <Action>(FindInPath)
map <leader>sh <Action>(ReplaceInPath)
map <leader>ss <Action>(GotoSymbol)
"Command
map <leader>sc <Action>(GotoAction)
map <leader>sp <Action>(GotoFile)
map <leader>se <Action>(RecentFiles)

"Really useful, it's a shame this doesn't work for blocks in Rider.
"Give the issue a thumbs up:
"https://youtrack.jetbrains.com/issue/RIDER-85651/Support-folding-anonymous-code-blocks
map H <Action>(CollapseRegion)
map L <Action>(ExpandRegion)

"Research to do: I want a separate debug mode for this.
"DebugBreakpoint
map <leader>db <Action>(ToggleLineBreakpoint)
"DebugCome
map <leader>dc <Action>(RunToCursor)
map <leader>di <Action>(StepInto)

"Mapped this in the ide instead because it's bugged
"map <C-i> <Action>(ParameterInfo)

"visual: S" or e.g. S] to surround with "" or []
"normal: cs"' to change " to '
"normal: ys<motion>" to surround with "
Plug 'tpope/vim-surround'

"gr to replace motion with default register
Plug 'vim-scripts/ReplaceWithRegister'

"via -- to select arguments
let g:argtextobj_pairs="(:),{:},<:>"
Plug 'vim-scripts/argtextobj.vim'

"cx{motion} -- to swap text
"X -- in visual mode
Plug 'tommcdo/vim-exchange'

"{ and } match empty lines with indentation
Plug 'dbakker/vim-paragraph-motion'

"gq to wrap column
map gq <Action>(com.andrewbrookins.idea.wrap.WrapAction)


" Git stuff
map <leader>gho <Action>(Github.Open.In.Browser)

"TODO: Make this do an error sound if the file is not openable on github.
map <leader>gho <Action>(Github.Open.In.Browser)
" Git Hub Open
map <leader>gho <Action>(Github.Open.In.Browser)
map <leader>gho <Action>(Github.Open.In.Browser)
map <leader>gho <Action>(Github.Open.In.Browser)

" Git blame
map <leader>gho <Action>(Github.Open.In.Browser)
" map <leader>gbl <Action>(???)
map <leader>gho <Action>(Github.Open.In.Browser)

" Diff of the current file
map <leader>gho <Action>(Github.Open.In.Browser)
map <leader>gd <Action>(Compare.SameVersion)
map <leader>gho <Action>(Github.Open.In.Browser)
" 'Logo
map <leader>gho <Action>(Github.Open.In.Browser)
map <leader>gl <Action>(Vcs.ShowTabbedFileHistory)
map <leader>gho <Action>(Github.Open.In.Browser)
map <leader>gL <Action>(LocalHistory.ShowHistory)


" IdeaVim helper
map <leader>Aid <Action>(VimFindActionIdAction)
